# https://docs.oracle.com/en/learn/use_systemd/index.html#introduction
# https://oracle-base.com/articles/linux/linux-services-systemd#creating-linux-services
# https://nodesource.com/blog/running-your-node-js-app-with-systemd-part-1/

[Unit]
Description=Doguito API Service
After=network.target

[Service]
Environment="DB_USER=ADMIN"
Environment="DB_PASSWORD=DBDoguito123"
Environment="CONNECT_STRING=(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=adb.mx-monterrey-1.oraclecloud.com))(connect_data=(service_name=ga945539355f49d_doguitodb_high.adb.oraclecloud.com))(security=(ssl_server_cert_dn="CN=adb.mx-monterrey-1.oraclecloud.com, O=Oracle Corporation, L=Redwood City, ST=California, C=US")))"
Type=simple
User=opc
ExecStart=/usr/bin/node /home/opc/doguito-api-es/bin/www
Restart=on-failure

[Install]
WantedBy=multi-user.target